@charset "UTF-8";
html {
    height: auto;
}

body {
    margin: 0;
    height: auto;
    min-height: 100%;
    background: linear-gradient(to top right, black, #666c67);
}

.main-contents {
    margin: 0 auto;
    width: 800px;
    height: 100%;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.taskForm {
    margin: 0 auto;
    width: 600px;
}

.list {
    margin: 50px auto 0;
    width: 800px;
}

.list table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 700px;
}

.list table, .list th, .list td {
    border-color: #c1ab05;
    border-width: 3px;
    border-style: groove;
}

input#task {
    border-color: #c1ab05;
    border-width: 3px;
    border-style: groove;
    padding: 0;
}

input#timeLimit {
    border-color: #c1ab05;
    border-width: 3px;
    border-style: groove;
}

input.submitButton {
    border-color: #c1ab05;
    border-style: groove;
    border-width: 3px;
}

.errorMessages {
	color: red;
}
